[submodule "Monarch"]
	path = Monarch
	url = git://github.com/project8/monarch
[submodule "Scarab"]
	path = Scarab
	url = https://github.com/project8/scarab.git
[submodule "SimpleAmqpClient"]
	path = SimpleAmqpClient
	url = https://github.com/project8/SimpleAmqpClient.git
