[submodule "Monarch"]
	path = Monarch
	url = git://github.com/project8/monarch
[submodule "Scarab"]
	path = Scarab
	url = https://github.com/project8/scarab.git
[submodule "Server/Devices/katcp_devel"]
	path = Server/Devices/katcp_devel
	url = https://github.com/project8/katcp_devel
